<div class="order-list-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon>list_alt</mat-icon>
        Orders
      </mat-card-title>
      <mat-card-subtitle> Manage and view all orders </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div style="text-align: center; padding: 40px">
        <mat-icon
          style="font-size: 64px; width: 64px; height: 64px; color: #ccc"
          >shopping_cart</mat-icon
        >
        <h3>Order List Component</h3>
        <p>This component will display a list of all orders.</p>
        <p><em>To be implemented in future tasks.</em></p>
        <button mat-raised-button color="primary" routerLink="/orders/new">
          <mat-icon>add</mat-icon>
          Create New Order
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
